@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap');

// $font1:<link rel="preconnect" href="https://fonts.googleapis.com">
// $font2:<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
// $font3:<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap" rel="stylesheet">


// $bgcolor:rgb(255, 208, 255);
// $bgcolor:black;
$bgcolor:white;


$mainclr_l:#e0aaff;
$mainclr_l:white;


$colorw:white;
$colorb:black;

$lightp:rgb(75,0,75);
$darkp:rgb(255, 208, 255);

$blue:rgb(10, 10, 147);
$midp:purple;


$main:600 3rem "Roboto";
$headings: 700 2rem "san-serif";
$subheadings:600 1.2rem "roboto";
$text1:500 1.2rem "san-serif";
$text2:900 1.5rem "san-serif";
$text3:600 1.1rem "san-serif";



