@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap');

// $font1:<link rel="preconnect" href="https://fonts.googleapis.com">
// $font2:<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
// $font3:<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap" rel="stylesheet">


// $bgcolor:rgb(255, 208, 255);
$bgcolor:rgb(0, 0, 0);
$mainclr_l:#e0aaff;

$colorw:black;
$colorb:white;

$lightp:rgb(75,0,75);
$darkp:rgb(255, 208, 255);

$blue:rgb(10, 10, 147);
$midp:purple;


$main:600 3rem "Roboto";
$headings: 600 2rem "roboto";
$subheadings:600 1.2rem "roboto";
$text1:400 1rem "roboto";
$text2:400 1.2rem "roboto";


