#footer {
  width: 100%;
  min-height: 25vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $colorb;
  background-color: $colorw;
  border-top:2px solid $colorb;
  > div {
    height: 80%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > a {
      text-decoration: none;
      display: block;
      color: $colorw;
    }
    &:nth-child(1) {
      width: 50%;
      border-right: 3px solid $colorb;
      font:$text2;
    }
    &:nth-child(2) {
      width: 100%;
      > img {
        margin: 1rem 0;
        width: 5vmax;
        border-radius: 50%;
      }
      font:$text2;
    }
    &:nth-child(3) {
      width: 50%;
      > h3 {
        margin-bottom: 1rem;
        font:$text2;
      }
      > div {
        a {
          font:$text1;
          margin: 0.2rem 1rem;
          display: inline-block;
          text-decoration: none;
          color: $colorb;
        }
        > svg {
          font-size: 1.5rem;
        }
      }
      border-left: 3px solid $colorb;
    }
  }
}
